{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "plugin:react/recommended",
        "google"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "tsx": true
        },
        "ecmaVersion": 13,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "@typescript-eslint"
    ],
    "rules": {
        "indent": "off",
        "@typescript-eslint/indent": ["error"],
        "react/react-in-jsx-scope": "off",
        "semi": "error",
        "require-jsdoc": "off",
        "max-len":"off",
        "linebreak-style": ["warning", "windows"]
    }
}
