@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .masonry {
        column-count: 3;
        column-gap: 1.5em;
    }
    .break-inside {
        break-inside: avoid;
        margin-top: 20px;
        margin-bottpm: 20px;
    }
}

@layer base {
    @font-face {
        font-family: 'Rubik';
        src: url('/fonts/Rubik-Regular.woff2') format('woff2');
    }
    
    @font-face {
        font-family: 'Rubik-Bold';
        src: url('/fonts/Rubik-Bold.woff2') format('woff2');
    }
}